h1 {
    color: bisque;
    font-size: 45px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

p {
    color:blueviolet;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    background-color:silver;
}

div{
    background-color:aqua;
    width:100px;
    height:50px;
}

div:hover {
    background-color: aquamarine;
    width:105px;
    height:55px;
}

div:visited {
    background-color: blue;
    width:100px;
    height:50px;
}

div.static {
    position:static;
    border:3px solid black;
}

div.relative {
    position:relative;
    left:30px;
    border: 3px solid red;
}

div.absolute {
    position: absolute;
    top:80px;
    right:0;
    width:200px;
    height:100px;
    border:3px solid black; 
}

div.fixed {
    position:fixed;
    bottom: 0;
    right: 0;
    width: 300px;
    border: 3px solid blue;
}

div.sticky {
    position: -webkit-sticky; /*safari*/
    position: sticky;
    top: 0;
    background-color: green;
    border: 3px solid blue;
}