h1 {
    color: lightgray;
    font-size: 45px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

body {
    background-color: black;
}

p {
    color:lightgrey;
}

div{
    width:100px;
    height:50px;
}

div:hover {
    background-color: red;
    width:105px;
    height:55px;
}

div.sticky {
    position: -webkit-sticky; /*safari*/
    position: sticky;
    top: 50px;
    background-color: green;
    border: 3px solid blue;
}

