h1 {
    color:lightblue;
    background-color: white;
    text-align: center;
    font-size: 45px;
    padding: 25px;
}

#banner {
    position: sticky;
    background-color: white;
    padding: 25px;
}

body {
    background-color: goldenrod;
}

li {
    float: left;
}

li a {
    color: lightblue;
    background-color: white;
    display: block;
    padding: 20px;
    text-decoration: none;
    font-size: 25px;
}

ul {
    border-collapse: 3px solid white;
    list-style-type: none;
    margin: 0;
    padding: 10px;
    overflow: hidden;
}

li a:hover {
    transition: 1s;
    color: white;
    background-color: lightblue;
}

