h1 {
    color:white;
    font-family: magneto;
}

body {
    background-color: goldenrod;
}

li {
    float: left;
}

li a {
    color: lightblue;
    background-color: white;
    display: block;
    padding: 20px;
    text-decoration: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 10px;
    
}

