h1 {
    color: lightgray;
    font-size: 45px;
    text-align: center;
}

body {
    background-color: black;
}

p {
    color:lightgrey;
}

.retrogamefacts {
    position: sticky;
    background-color: black;
    height: 90px;
}

div.sticky {
    position: -webkit-sticky; /*safari*/
    position: sticky;
    top: 50px;
    background-color: black;
    border: 2px solid red;
}

li {
    float: left;
}

a {
    display: block;
    padding: 20px;
    background-color: black;
    text-decoration: none;
    color: red;
}

li a {
    display:block;
    text-align: left;
    background-color: black;
    padding: 14px, 16px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 10px;
    overflow: hidden;
}

/* Change the link color on hover */
li a:hover {
    background-color: red;
    color:lightgray;
}

#banner {
    position: sticky;
    background-color: black;
    top: 0px;
    width: 100%;
}

