body {
    background-color: black;
}

.snes {
    color: lightgray;
    background-color: black;
    font-size: 45px;
    text-align: center;
}

li {
    float: left;
}

li a {
    display: block;
    text-decoration: none;
    font-size: 20px;
    width: 150px;
    height: 40px;
    border-collapse: 3px, solid black;
    border-color: black;
    padding: 10px, 30px;
    color: red;
    text-align: center;
}

ul {
    position: sticky;
    list-style-type: none;
    background-color: black;
    margin: 0;
    padding: 10px;
    overflow: hidden;
}

/*Change the link color on hover*/
li a:hover {
    background-color: red;
    color: white;

} 

