table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px 10px;
}

.computa {
    background-color: purple;

}

.mathpracb {
    background-color: green;
}

div {
    background-color: aqua;
    width:100px;
    height:20px;
}

div:hover {
    background-color: aquamarine;
    
}

a {
    text-decoration: none;
}

a.hover {
    text-decoration: underline;
}