body {
    background-color: black;
}

h1 {
    color: lightgray;
    background-color: black;
    font-size: 45px;
    text-align: center;
}



li {
    float: left;
}

li a {
    display: block;
    text-decoration: none;
    font-size: 20px;
    width: 150px;
    height: 40px;
    border-collapse: 3px, solid black;
    border-color: black;
    padding: 10px, 30px;
    color: red;
    text-align: center;
}

ul {
    position: sticky;
    list-style-type: none;
    background-color: black;
    margin: 0;
    padding: 10px;
    overflow: hidden;
}

/*Change the link color on hover*/

.sb a:hover {
    color: white;
    background-color: red;
}

.gb a:hover {
    width: 150px;
    height: 40px;
    background-color: red;
    color: white;
    transition: 1s;
    transition-timing-function: ease;
}

.nine a:hover {
    width: 170px;
    height: 60px;
    color: white;
    background-color: aqua;
    transition: 1s;
    transition-timing-function: linear;
    transition-delay: 0.5s;
    
}

.o a:hover {
    width: 160px;
    height: 50px;
    color: white;
    background-color: gold;
    box-shadow: 10px 10px silver;
    transform: skewX(40deg);
    transition: 2s, transform 2s;
}

.one a:hover {
    width: 180px;
    height: 70px;
    color: white;
    background-color: orchid;
    border-radius: 25px;
    transition: 2s;
}

.two a:hover {
    width: 190px;
    height: 80px;
    color: white;
    background-color: greenyellow;
    box-shadow: 10px 10px green;
    transform: skewX(50deg);
    border-radius: 35px;
    transition: 2s;
    transition-timing-function: ease;
}

/* The animation code */
@keyframes mycoolanimation {
    0% {background-color: green; } /*left: 0px; top: 0px;}*/
    25% {background-color: yellow; } /* left: 0px; top: 200px;}*/
    50% {background-color: green; }/*left: 200px; top: 200px;} */
    75% {background-color: yellow; }/*left: 200px; top: 0px;}*/
    100% {background-color: green; }/*left: 0px; top: 0px;}*/
}

/* The element to apply the animation to */
.three a:hover {
    width: 170px;
    height: 60px;
    background-color: yellow;
    color: white;
    position: relative;
    animation-name: mycoolanimation;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
}

.ps a:hover {
    width: 150px;
    height: 40px;
    color: white;
    background-color: red;
    transition: 1s;
    transition-timing-function: ease;   
}