h1 {
    color: lightgray;
    font-size: 45px;
    text-align: center;
}

body {
    background-color: black;
}

p {
    color: lightgray;
}

li {
    color:red;
    font-size: 45px;
}

li a {
    display:block;
    width: 200px;
    height:40px;
    border-collapse: 3px solid black;
    padding: 10px 30px;
    font-size:20px;
    text-decoration: none;
    color:red;
}

ul {
    list-style-type: none;
    background-color: black;
    margin: 0;
    padding: 0;
    width: 200px;
}

/* Change the link color on hover */
li a:hover {
    background-color: red;
    color:white;
    border-radius: 25px;
}

#banner {
    position: sticky;
    top: 0px;
    width: 100%;
    background-color: black;
}

.gbb:hover {
    transform: matrix(1, -0.3, 0, 1, 0, 0);
}

.nine:hover {
    transform: rotate(135deg);
    color: white;
    background-color: red;
}

.o:hover {
    transform: translate(25px,50px);
    color: white;
    background-color: red;
}

.one:hover {
    transform: scale(1.5, 2);
    color: white;
    background-color: red;
}

.two {
    transform: skewX(15deg);
}

.two:hover {
    transform: skewY(40deg);
    color: white;
    background-color: red;
}

#three {
    transform: rotateX(90deg);
}

.three:hover {
    transform: rotateY(225deg);
    color: white;
    background-color: red;
}

