.header {
    color:lightblue;
    background-color: white;
    text-align: center;
    font-size: 45px;
    padding: 25px;
}

#banner {
    position: sticky;
    background-color: white;
    padding: 25px;
}

body {
    background-color: goldenrod;
}

li {
    float: left;
}

li a {
    color: lightblue;
    background-color: white;
    display: block;
    padding: 20px;
    text-decoration: none;
    font-size: 25px;
}

ul {
    border-collapse: 3px solid white;
    list-style-type: none;
    margin: 0;
    padding: 10px;
    overflow: hidden;
}

li a:hover {
    transition: 1s;
    color: white;
    background-color: lightblue;
}

/* Change the link color on hover */
li a:hover {
    background-color: red;
    color:lightgray;
}

#banner {
    position: sticky;
    background-color: black;
    top: 0px;
    width: 100%;
}

/* The navbar container */
.topnav {
    overflow: hidden;
    background-color: red;
}

/* Navbar links */
.topnav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Links - change color on hover */
.topnav a:hover {
    background-color: lightblue;
    transition: 1s;
    transition-timing-function: ease;
}

/* Create three equal columns that float nest to each other */
.column {
    float: left;
    width: 33.33%;
}

/*  */